{% extends 'base.html.twig' %}

{% block title %}AAAccueil{% endblock %}

{% block body %}

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Annonces administration</h3>
            </div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-warning-sign"></span> Work in progress
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">État des services</h3>
            </div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-warning-sign"></span> Work in progress
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Calendrier</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <span class="glyphicon glyphicon-warning-sign"></span> Work in progress
                </div>
                <div class="col-md-6">
                    <h2>Événements ÀAA venir</h2>
                    <div id="aaa-evenements-a-venir">
                        <h3>Aujourd'hui</h3>
                        <p>Haaackathon #1 : création de l'AAAccueil </p>
                        <p>Anniversaire de S18alg : Joyeux anniversaire ! </p>
                        <p>Hôpital psy Lucile : Aller voir pour dépression </p>
                        <h3>Lundi 19 juin</h3>
                        <p>Téléphone Varren : Donner le numéro de fixe de la nouvelle maison à Lucile </p>
                        <h3>Mercredi 21 juin</h3>
                        <p>Livraison Picard : Livraison des courses commandées vendredi </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
