{% for notificationData in notifications %}
    {% set notification = notificationData.notification %}
    <li title="{{ notification.dateCreation|localizeddate('none', 'none', 'fr_FR', null, 'd LLLL yyyy') }}"
        class="text-center aaaccueil-navigation-notification {% if notificationData.lue %}aaaccueil-notification-lue{% endif %}">
        <div class="aaaccueil-notification-titre">
            <span class="glyphicon {{ notification.icone }}"></span>
            <strong>{{ notification.titre }}</strong>
        </div>
        <div class="aaaccueil-notification-description">
            {{ notification.description }}
        </div>
    </li>
{% endfor %}

<!-- TODO : Afficher le symbole -check ou unchecked en fonction de si l'utilisateur a cliqué sur la notif" -->