{% for notification in notifications %}
    <li class="text-center aaaccueil-navigation-notification">
        <div class="aaaccueil-notification-titre">
            <span class="glyphicon {{ notification.icone }}"></span>
            <strong>{{ notification.titre }}</strong>
        </div>
        <div class="aaaccueil-notification-description">
            {{ notification.description }}
        </div>
    </li>
    <li role="separator" class="divider"></li>
    {% endfor %}

<!-- TODO : Afficher le symbole -check ou unchecked en fonction de si l'utilisateur a cliqué sur la notif" -->