body { padding-top: 70px; padding-bottom: 70px; }
@media (min-width: 768px) {
    #aaa-navbar-bottom {
        text-align: center;
    }
    #aaa-navbar-bottom .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    #aaa-navbar-bottom .navbar-nav a {
        padding-left: 30px;
        padding-right: 30px;
    }
}

#aaa-alert-messages {
    height: 72px;
}

#aaa-annonces {
    max-height: 200px;
    overflow: auto;
}
#aaa-annonces .aaa-annonce {
    padding: 20px;
    background-color: #EEE;
    margin-bottom: 5px;
}
#aaa-annonces .aaa-annonce h4 {
    margin-top: 0px;
}
#aaa-annonces .aaa-annonce small {
    color: #888;
}
#aaa-annonces .aaa-annonce p {
    margin-top: 10px;
    margin-bottom: 0px;
}

#aaa-evenements-a-venir {
    max-height: 300px;
    overflow: auto;
    background-color: #EEE;
    padding-left: 20px;
}


