body { padding-top: 70px; padding-bottom: 70px; }
@media (min-width: 768px) {
    #aaa-navbar-bottom {
        text-align: center;
    }
    #aaa-navbar-bottom .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    #aaa-navbar-bottom .navbar-nav a {
        padding-left: 30px;
        padding-right: 30px;
    }
}

#aaa-alert-messages {
    height: 72px;
}

#aaaccueil-navigation-notifications {
    width: 200px;
}

.aaaccueil-navigation-notification {
    padding: 2px 8px;
}

.aaaccueil-navigation-notification > .aaaccueil-notification-titre {
    margin-bottom: 10px;
}

.aaaccueil-navigation-notification > .aaaccueil-notification-titre > .glyphicon {
    margin-right: 5px;
}

.aaaccueil-navigation-notification > .aaaccueil-notification-description {
    text-align: justify;
    font-size: 12px;
    font-style: italic;
}