{% for application in applications %}
    <li>
        <p class="navbar-btn text-center">
            <a href="{{ path('application_detail', {'slug': application.slug}) }}">{{ application.label }}</a>
            {% if application.urlDirecte %}
                <a href="{{ application.urlDirecte }}"><span class="glyphicon glyphicon-link"></span></a>
            {% endif %}
        </p>
    </li>
{% endfor %}